
$--color-primary: #5887ff;
$--color-success: #35C655;
$--color-error: #DD3939;

$--color-text-regular: #2F3036;
$--color-text-placeholder: #e2e2e2;
$--color-text-secondary: #ACACAC;

$--font-path: '~element-ui/lib/theme-chalk/fonts';
// @import "~element-ui/packages/theme-chalk/src/index";